---
import { cn } from "@/lib/utils";
import { Image } from "astro:assets";
import Base from "@/layouts/Base.astro";
import { getCollection } from "astro:content";
import FormattedDate from "@/components/formatted-date.astro";

const posts = await getCollection("blog").then((allPosts) =>
  allPosts.filter((post) => post.data.public).toSorted((a, b) => b.data.date.valueOf() - a.data.date.valueOf()),
);
---

<Base title="sharath's blog">
  <div class="m-4 mb-20 grid grid-cols-1 gap-8">
    {
      posts.map((post, i) => (
        <a
          href={`/blog/${post.id}/`}
          class={cn("flex w-full flex-col gap-8 rounded-xl p-4 outline-1 hover:outline lg:flex-row")}
        >
          {post.data.heroImage && (
            <Image
              width={800}
              height={500}
              alt={post.data.title}
              src={post.data.heroImage}
              referrerpolicy="no-referrer"
              loading={i < 3 ? "eager" : "lazy"}
              transition:name={`${post.data.title}-image`}
              class="my-0 max-w-full rounded-lg lg:max-w-md"
            />
          )}
          <div class="flex h-full flex-col justify-center gap-4 p-4 pl-0">
            <span class="text-2xl leading-tight" transition:name={`${post.data.title}-title`}>
              {post.data.title}
            </span>
            <span
              transition:name={`${post.data.title}-description`}
              class="text-sm leading-tight text-secondary-foreground"
            >
              {post.data.description}
            </span>
            <div class="flex flex-wrap gap-2" transition:name={`${post.data.title}-tags`}>
              {post.data.tags.map((t) => (
                <span class="rounded-full border px-2 py-1 text-sm text-gray-500">{t}</span>
              ))}
            </div>
            <span class="text-sm leading-none text-secondary-foreground">
              <b>{post.data.authorName}</b> - <FormattedDate date={post.data.date} />
            </span>
          </div>
        </a>
      ))
    }
  </div>
</Base>
